@font-face {
    font-family: Roboto-regularnyi;
    src: url(Roboto-Regular.ttf);
}
body {  
    background-color: #000080; 
    text-align: center;
    font-family: Roboto-regularnyi;
}
    
#logo {
    float: left;   
}

.wrap {
    position:relative;
    margin:auto;
    width: 100%;
}

#pageContent {
    width: 750px;
    margin: auto;
    float: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#loginCreateForm{
    float:right;
}

#header {
    background-color:#008080;
    width:100.5%;
    height: 122px;
    text-align: left;
    border-style: double;
    border-color: #00FFFF;
    margin-top: -8px;
    margin-left: -8px;
}

#signInBox{
    float:right;
    margin-top: 45px;
    margin-right: 45px;
}

a {
    color: #000128;
    text-decoration: none;
}

#createAccountButton {
    padding: 5px;
    border: groove;
}

#signInButton {
    padding: 5px;
    color: #000080;
}

#createAccountButton:link {
    background-color: #000080;
    color: #00FFFF;    
}

#createAccountButton:visited {
    background-color: #000080;
    color: #00FFFF;
}

#createAccountButton:hover {
    background-color: #00004F;
}

#createAccountButton:active {
    background-color: #FFCC00;
}

#signInButton:link {
    background-color: #00FFFF;
}

#signInButton:visited {
    background-color: #00FFFF;
}

#signInButton:hover {
    background-color: #97FFFF;
}

#signInButton:active {
    background-color: #FFCC00;
}

#usermenu {
    margin: auto;
    width: 705px;
    z-index: 40;
}
#usermenu ul {
    margin: auto
}
#usermenu ul li {
    display: inline-block;
    color: #000000;
    cursor: pointer;
    float: left;    
    width: 120px;
    height: 77px;
    text-align: center;
    margin: auto;
    padding-top: 45px;
}

#usermenu ul li:hover {
    color: white;
    background: black;
}

#footer {
    background-color:#008080;
    border-style: double;
    border-color: #FFCC00;
    width:100%;
    height: 8.5%;
    color: #FFCC00;
    float: left;
}
